In [101]:
from bs4 import BeautifulSoup
import wikipedia
import requests
import pandas as pd
import csv
import time
import tqdm
import json
import sqlite3
import sqlalchemy as db
import functions as f

In [30]:
engine = db.create_engine('sqlite:///stocks.db')

In [31]:
frame_list = []
fails = []
sucess = []

In [32]:
sp500 = pd.read_csv('sp500.csv')

In [33]:
symbols = sp500.Symbol

In [39]:
for symbol in tqdm.tqdm(symbols[201:]):
    symbol = symbol.strip()
    req = requests.get(f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={symbol}&outputsize=full&apikey={key}')
    
    try:
        if req.status_code == 200:
            data = json.loads(req.text)
            df = df = pd.DataFrame(data['Time Series (Daily)']).transpose()
            df['symbol'] = symbol
            df.columns = map(str.lower, df.columns)
            df.to_sql(symbol, con=engine)
            frame_list.append(df.copy())
            sucess.append(symbol)
            time.sleep(20)
        else:
            fails.append(symbol)
        
    except:
        fails.append(symbol)

100%|██████████| 304/304 [2:03:06<00:00,  8.23s/it]

In [72]:
len(engine.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;").fetchall())

498

loop over all df and make them a plickle

In [83]:
for i in sucess[28]:
    x = engine.execute(f"SELECT * FROM '{i}';").fetchall()

OperationalError: (sqlite3.OperationalError) no such table: G
[SQL: SELECT * FROM 'G';]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [111]:
engine = db.create_engine('sqlite:///stocks_formatted.db')
from sqlalchemy import Table, Column, Float, String, MetaData
meta = db.MetaData()
#use adjusted close
close = db.Table(
   'close', meta, 
   db.Column('date', db.String, primary_key = True), 
)

volume = db.Table(
   'volume', meta, 
   db.Column('date', db.String, primary_key = True) 
)

dividend = Table(
   'dividend', meta, 
   db.Column('dividend', db.String, primary_key = True), 
)

meta.create_all(engine)

In [103]:
# cleaning
formatted_frames = []
for df in frame_list:
    df = f.reformat_columns(df)
    df = f.typecast_df(df)
    df = f.rearrange_cols(df)
    df = f.date_to_column(df)
    formatted_frames.append(df)

In [109]:
#db procedure
df = formatted_frames[0]
ticker = df['symbol'][0]
df_close = df[['date', 'close']]

In [112]:
engine.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;").fetchall()

[('close',), ('dividend',), ('volume',)]

            date   close
5415  1998-01-02   83.50
5414  1998-01-05   83.38
5413  1998-01-06   83.63
5412  1998-01-07   84.31
5411  1998-01-08   83.31
5410  1998-01-09   82.63
5409  1998-01-12   82.81
5408  1998-01-13   84.13
5407  1998-01-14   84.06
5406  1998-01-15   82.50
5405  1998-01-16   83.25
5404  1998-01-20   83.25
5403  1998-01-21   82.38
5402  1998-01-22   80.75
5401  1998-01-23   81.56
5400  1998-01-26   82.00
5399  1998-01-27   80.56
5398  1998-01-28   84.50
5397  1998-01-29   85.31
5396  1998-01-30   83.50
5395  1998-02-02   86.88
5394  1998-02-03   88.38
5393  1998-02-04   87.81
5392  1998-02-05   87.50
5391  1998-02-06   87.56
5390  1998-02-09   87.13
5389  1998-02-10   86.00
5388  1998-02-11   87.88
5387  1998-02-12   88.69
5386  1998-02-13   88.00
...          ...     ...
29    2019-05-31  159.75
28    2019-06-03  160.04
27    2019-06-04  164.29
26    2019-06-05  163.85
25    2019-06-06  164.72
24    2019-06-07  166.61
23    2019-06-10  168.29
22    2019-06-11  168.91
21    2019-06-12  169.01
20    2019-06-13  168.85
19    2019-06-14  166.69
18    2019-06-17  166.78
17    2019-06-18  171.86
16    2019-06-19  170.75
15    2019-06-20  173.94
14    2019-06-21  173.35
13    2019-06-24  173.38
12    2019-06-25  172.03
11    2019-06-26  171.88
10    2019-06-27  171.50
9     2019-06-28  173.34
8     2019-07-01  174.51
7     2019-07-02  174.02
6     2019-07-03  174.98
5     2019-07-05  172.00
4     2019-07-08  169.19
3     2019-07-09  165.70
2     2019-07-10  165.70
1     2019-07-11  169.04
0     2019-07-12  173.34

[5416 rows x 2 columns]